<h2>我的帖子</h2>

<!-- 返回帖子列表按钮 -->
<a href="/"><button>返回帖子列表</button></a>
<table border="1" cellpadding="10" cellspacing="0" class="post-table">
  <thead>
    <tr>
      <th>帖子名</th>
      <th>时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% posts.forEach(post => { %>
      <tr>

        <td>
            <a href="/posts/<%= post.id %>">
                <%= post.title %>
                <% if (post.is_pinned) { %>
                <span style="color: red;">📌(Top)</span>
                <% } %>
            </a>
        </td>
        <td><%= new Date(post.created_at).toLocaleString() %></td>
        <td>
          <form method="POST" action="/posts/<%= post.id %>/delete" onsubmit="return confirm('确认删除这条帖子？');">
            <button type="submit">删除</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
