<h2>帖子列表</h2>

<table border="1" cellpadding="10" cellspacing="0" class="post-table">
  <thead>
    <tr>
      <th>帖子名</th>
      <th>作者</th>
      <th>时间</th>
    </tr>
  </thead>
  <tbody>
    <% posts.forEach(post => { %>
      <tr>

        <td>
            <a href="/posts/<%= post.id %>">
                <%= post.title %>
                <% if (post.is_pinned) { %>
                <span style="color: red;">📌(Top)</span>
                <% } %>
            </a>
        </td>
        <td><%= post.author ? post.author : '' %></td>
        <td><%= new Date(post.created_at).toLocaleString() %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<% if (user) { %>
  <a href="/account"><button>我的账户</button></a>
  <!-- <a href="/posts/account"><button>我的账户</button></a> -->

<% } else { %>
  <a href="/login"><button>我的账户</button></a>
<% } %>

